<h2 class="h5 alert alert-info text-center" role="alert">
  REPORTE EMPLEADO
</h2>
<a class="btn btn-danger m-2 px-4" routerLink="/">Salir</a>
<table  class="table" id="report">
  <thead class="table-primary">
    <tr>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Nombre</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Cedula</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Codigo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Departamento</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Cargo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">FEC. ING.</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Status</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Sueldo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Email</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold">Provincia</button></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>Brandon Ramiro Toapanta Basantes</td>
      <td>1753029659</td>
      <td>1</td>
      <td>nose</td>
      <td>jefe</td>
      <td>24/02/11</td>
      <td>Vigente</td>
      <td>1000</td>
      <td>{{"bt@gmail.com"}}</td>
      <td>pichincha</td>
    </tr>

  </tbody>
</table>
