<h2 class="h5 alert alert-info text-center" role="alert">
  REPORTE EMPLEADO
</h2>
<a class="btn btn-danger m-2 px-4" routerLink="/">Salir</a>
<table  class="table" id="report">
  <thead class="table-primary">
    <tr>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarNombre()">Nombre</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarCedula()">Cedula</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarCodigo()">Codigo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarDepartamento()">Departamento</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarCargo()">Cargo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarFecha()">FEC. ING.</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarStatus()">Status</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarSueldo()">Sueldo</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarEmail()">Email</button></th>
      <th scope="col"><button class="btn text-uppercase font-weight-bold" (click)="ordenarProvincia()">Provincia</button></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (item of reporteGeneral; track $index) {
      <tr>
        <td class="text-uppercase">{{item.emp_nombres}} {{item.emp_apellidos}}</td>
        <td class="text-uppercase">{{item.emp_cedula}}</td>
        <td class="text-uppercase">{{item.id}}</td>
        <td class="text-uppercase">{{item.emp_departamento}}</td>
        <td class="text-uppercase">{{item.emp_cargo}}</td>
        <td class="text-uppercase">{{item.emp_fec_ingreso}}</td>
        <td class="text-uppercase">{{item.emp_status}}</td>
        <td class="text-uppercase">{{item.emp_salario}}</td>
        <td>{{item.emp_correo}}</td>
        <td class="text-uppercase">{{item.nombre_provincia}}</td>
      </tr>
    }

  </tbody>
</table>
