<div class="container mt-3">
  <h2 class="h5 alert alert-info text-center" role="alert">
    EDITAR EMPLEADO
  </h2>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active text-info" id="datosPersonales" (click)="datosPersonales()">Datos Personales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" id="datosLaborales" (click)="datosLaborales()">Datos Laborales</a>
    </li>
  </ul>
  <form [formGroup]="formularioEjemplo" (submit)="formulario()">
    <section id="email">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombres4">Nombres</label>
          <input [ngClass]="{'is-invalid':hasErrors('nombres','required')}" type="text" class="form-control"
            id="inputNombres4" formControlName="nombres" />
          @if (hasErrors('nombres','required')) {
          <div class="text-danger"> Nombres requeridos </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputApellidos4">Apellidos</label>
          <input [ngClass]="{'is-invalid':hasErrors('apellidos','required')}" type="text" class="form-control"
            id="inputApellidos4" formControlName="apellidos" />
          @if (hasErrors('apellidos','required')) {
          <div class="text-danger"> Apellidos requeridos </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCedula">Cédula: (Valida)</label>
          <input
            [ngClass]="{'is-invalid':hasErrors('cedula','required')||hasErrors('cedula','minlength')||hasErrors('cedula','maxlength')}"
            type="text" class="form-control" id="inputCedula" formControlName="cedula" />
          @if (hasErrors('cedula','required')) {
          <div class="text-danger"> Cedula requerida </div>
          }
          @if (hasErrors('cedula','minlength')) {
          <div class="text-danger"> El minimo de caracteres es 10 </div>
          }
          @if (hasErrors('cedula','maxlength')) {
          <div class="text-danger"> El maximo de caracteres es 10 </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputProvincia">Provincia</label>
          <select [ngClass]="{'is-invalid':hasErrors('provincia','required')}" id="inputProvincia" class="form-control"
            formControlName="provincia">
            <option value="">Escoja una provincia...</option>
            @for (provincia of provinciaList; track $index) {
            <option value={{provincia.id}}>{{provincia.nombre_provincia}}</option>
            }
          </select>
          @if (hasErrors('provincia','required')) {
          <div class="text-danger"> Provincia requerida </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
          <input [ngClass]="{'is-invalid':hasErrors('Fnacimiento','required')}" type="date" class="form-control"
            id="inputFechaNacimiento" formControlName="Fnacimiento" />
          @if (hasErrors('Fnacimiento','required')) {
          <div class="text-danger"> Fecha de nacimiento requerida </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email: (Valida)</label>
          <input [ngClass]="{'is-invalid':hasErrors('email','required')||hasErrors('email','email')}" type="email"
            class="form-control" id="inputEmail" placeholder="correo-personal@email.com" formControlName="email" />
          @if (hasErrors('email','required')) {
          <div class="text-danger"> Email requerido </div>
          }
          @if (hasErrors('email','email')) {
          <div class="text-danger"> Formato de email invalido </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputObservaciones">Observaciones:</label>
          <textarea name="" id="inputObservaciones" rows="3" class="form-control"
            formControlName="ObservacionesPerson"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="inputFotografia">Fotografía: (Valida)</label>
          <div>
            @if (imageUrl) {
            <img class="rounded-circle" id="foto" [src]="imageUrl" alt="Imagen seleccionada" width="100px"
              height="100px" />
            }@else{
            <img class="rounded-circle" id="foto" src="https://cdn-icons-png.flaticon.com/128/12136/12136841.png"
              alt="Imagen seleccionada" width="100px" height="100px" />
            }
            <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none" accept="image/*"
              formControlName="imagen" />
            <button (click)="openFileInput()" type="button" class="btn btn-primary mx-4">
              Cargar Imagen
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-success" (click)="ContinuarForm()" value="Continuar" />
        <a class="btn btn-warning mx-4" routerLink="/report-general">Reporte</a>
        <a class="btn btn-danger mx-4" routerLink="/">Salir</a>
      </div>
    </section>
    <section class="d-none" id="password">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFechaIngreso">Fecha de Ingreso</label>
          <input [ngClass]="{'is-invalid':hasErrors('FIngreso','required')}" type="date" class="form-control"
            id="inputFechaIngreso" formControlName="FIngreso" />
          @if (hasErrors('FIngreso','required')) {
          <div class="text-danger"> Fecha de ingreso requerida </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputCargo">Cargo</label>
          <input [ngClass]="{'is-invalid':hasErrors('cargo','required')}" type="text" class="form-control"
            id="inputCargo" formControlName="cargo" />
          @if (hasErrors('cargo','required')) {
          <div class="text-danger"> Cargo requerido </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputDepartamento">Departamento:</label>
          <input [ngClass]="{'is-invalid':hasErrors('departamento','required')}" type="text" class="form-control"
            id="inputDepartamento" formControlName="departamento" />
          @if (hasErrors('departamento','required')) {
          <div class="text-danger"> Departamento requerido </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputProvinciaLab">Provincia:</label>
          <select [ngClass]="{'is-invalid':hasErrors('prvinciaEmpresa','required')}" id="inputProvinciaLab"
            class="form-control" formControlName="prvinciaEmpresa">
            <option value="">Escoja una provincia...</option>
            @for (provincia of provinciaList; track $index) {
            <option value={{provincia.id}}>{{provincia.nombre_provincia}}</option>
            }
          </select>
          @if (hasErrors('prvinciaEmpresa','required')) {
          <div class="text-danger"> Provincia requerida </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputSalario">Salario:</label>
          <div class="m-0 d-flex">
            <input [ngClass]="{'is-invalid':hasErrors('salario','required')}" type="number" class="form-control col-6"
              id="inputSalario" min="0" placeholder="1000" formControlName="salario" />
            <span class="ml-2 align-self-center">USD</span>
          </div>
          @if (hasErrors('salario','required')) {
          <div class="text-danger"> Salario requerido </div>
          }
        </div>
        <div class="form-group col-md-6">
          <label for="inputJornada">Jornada Parcial</label>
          <fieldset>
            <input type="radio" id="SiJornadaParcial" value="Si" formControlName="JornadaParcial" />
            <label for="SiJornadaParcial">Si</label>
            <input class="ml-4" type="radio" id="NoJornadaParcial" value="No" formControlName="JornadaParcial" />
            <label for="NoJornadaParcial">No</label>
          </fieldset>
          @if (hasErrors('JornadaParcial','required')) {
          <div class="text-danger"> Jornada requerida </div>
          }
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputObservaciones">Observaciones:</label>
          <textarea name="" id="inputObservaciones" rows="3" class="form-control"
            formControlName="ObservacionesEmpresariales"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-success mx-4" type="submit">Guardar</button>
        <a class="btn btn-warning mx-4" routerLink="/report-general">Reporte</a>
        <a class="btn btn-danger mx-4" routerLink="/">Salir</a>
      </div>
    </section>
  </form>
</div>
